*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 90vh;  
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.box {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: 150px;
  box-shadow: 3px 3px 3px 2px black;
  cursor: pointer;
}

.box:hover{
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: 150px;
  box-shadow: 3px 3px 3px 2px black;
  cursor: pointer;
  transform: scale(1.1);
}


.box > h1 {
  text-align: center;
  font-size: 32px;
}